body {
    background-color: #f2f2f2;
}

.container__personal {
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login_form {
    width: 450px;
    background-color: #fff;
    padding: 1em;
    border-radius: 15px;
}

.center__items {
    text-align: center;
}

.btn-max-width {
    width: 100%;
}